
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.js-scroll {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    will-change: transform; 
    z-index: 10;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

:root {
    /* Colors */
    --primary-color: #1202E7;
    --secondary-color: #ECECEC;
    --white-color: #ffffff;

    /* Fonts Family */
    --font-primary-bold: "primary-font-bold", sans-serif;
    --font-primary-semibold: "primary-font-semibold", sans-serif;
    --font-secondary-regular: "NeueMontreal-Regular", sans-serif; 
    --font-secondary-medium: "NeueMontreal-medium", sans-serif; 
    --font-secondary-bold: "NeueMontreal-bold", sans-serif; 

    /* Font Weights */
    --bold: 700;
    --extarbold: 800;
    --regular: 400;
    --medium: 500;
    --semibold: 600;

    /* Others */
    --transition: .3s ease-in-out;
}

@font-face {
    font-family: 'primary-font-bold'; 
    src: url('../fonts/MangoGrotesque-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'primary-font-semibold'; 
    src: url('../fonts/MangoGrotesque-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'primary-font-medium'; 
    src: url('../fonts/MangoGrotesque-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'NeueMontreal-Regular'; 
    src: url('../fonts/NeueMontreal-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'NeueMontreal-Regular'; 
    src: url('../fonts/NeueMontreal-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'NeueMontreal-bold'; 
    src: url('../fonts/NeueMontreal-Bold.otf') format('opentype');
}
  

h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--primary-color);
    font-family: var(--font-primary-bold);
    text-transform: uppercase;
    line-height: 80%;
}

h1 {  
    font-size: 350px;
}

h2 {
    font-size: 350px;
    color: var(--secondary-color);
}

h3 {
    font-size: 128px; 
    font-family: var(--font-secondary-bold);
    line-height: 90%;
}

h4 {
    font-size: 96px;
}

h5{
    font-size: 30px;
    font-family: var(--font-secondary-bold);
    line-height: 100%;
}

p {
    color: var(--primary-color);
    font-size: 24px;
    line-height: 100%;
    font-family: var(--font-secondary-regular);
    margin: 0;
    padding: 0;
}

.animation-text-right {
    perspective: 1000px; 
}

.animation-text-left, .animation-text-right, 
.animation-text-top, .animation-text-bottom, 
.text-word-animation {
    overflow: hidden;
    display: block;
}

.line {
    overflow: hidden; 
    display: block;
}

/*--------- Header Area Start---------- */

.header-area{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    padding-top: 28px;
    z-index: 99;
}

.nav-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu li a{
    display: inline-block;
    color: var(--primary-color);
    font-size: 64px;
    font-family: var(--font-primary-bold);
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transition);
}

.nav-menu li a:hover{
    transform: translateY(-15px);
}

.bottom-menu__bar {
    position: fixed;
    left: 50%;
    top: 90vh;
    transform: translateX(-50%);
    max-width: 350px;
    width: 90%;
    background-color: var(--white-color);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 50px;
    z-index: 999;
    padding: 10px 20px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.bottom-menu__bar.sticky{
    opacity: 1;
    visibility: visible;
}

.bottom-menu__bar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-menu__bar ul li a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 100%;
    transition: var(--transition);
}

.bottom-menu__bar li a svg{
    width: 24px;
    height: 24px;
    text-decoration: none;
}

.bottom-menu__bar li:nth-child(3) svg{
    width: 22px;
}

.bottom-menu__bar li a:hover{
    transform: scale(1.1);
}


.tooltipster-sidetip.tooltipster-shadow .tooltipster-box {
    background-color: var(--white-color) !important; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tooltipster-sidetip.tooltipster-shadow .tooltipster-content {
    color: #000000 !important; 
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #333 !important; 
}


/*----------- Header Area End-------------- */





/* ------------Hero Area Start------------- */

.hero-area{
    position: relative;
    width: 100%;
    padding-top: 280px;
    z-index: 1;
    overflow: hidden;
}

.hero-area h1 {
    font-size: 350px;
    line-height: 80%;
    text-align: center;
}

.hero-area .hero-area__left .aos-animate:first-child {
    position: relative !important;
    z-index: -1 !important; 
}

.hero__scroll-icon {
    display: inline-block;
    font-size: 160px;
    margin-top: -72px !important;
    color: var(--primary-color);
    animation: scroll-down 1s linear infinite;
}

@keyframes scroll-down {
	0%{
        transform: translateY(0px);
    }

	25%{
        transform: translateY(20px);
    }

    50%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(20px);
    }

	100% {
		transform: translateY(0px);
	}
	
}

.hero-area__right {
    padding-left: 20px;
    text-align: right;
}

.hero-area__right h5{
    width: 335px;
    margin-left: auto;
}

.project-start__text{
    position: relative;
    display: inline-block;
    color: var(--primary-color);
    font-size: 80px;
    font-family: var(--font-primary-bold);
    margin: 132px 0 90px;
    z-index: 1;
    overflow: hidden;
}

.project-start__text::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 16px;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left; 
    animation: border-ani 3s linear infinite;
    z-index: 1;
}


@keyframes border-ani {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.project-start__text::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 16px;
    z-index: -1;
}

.hyper-realistic-girl {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-52%);
    width: 100%;
    height: 105%;
    object-fit: contain;
    object-position: top center;
    z-index: -1;
}

/* ------------Hero Area End------------- */




/* ------------Work Area Start------------- */

.work-area{
    padding: 52px 0;
    background-color: var(--primary-color);
}

.work-area__title{
    text-align: center;
}

.gap-28{
    gap: 28px;
}

.work-box{
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--white-color);
}

.work-box__content{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-box__content span{
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--font-secondary-bold);
    line-height: 24px;
}

.work-box__content p{
    width: 365px;
}

.work-box__image{
    width: 100%;
    height: 100%;
}

.work-box__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------Work Area End------------- */





/* ------------Service Area Start------------- */

.service-area{
    padding-top: 15px;
    background-color: var(--primary-color);
    text-align: center;
}

.service-area .container{
    max-width: 100%;
    width: 100%;
}

.section_tag{
    display: inline-block;
    color: var(--white-color);
    font-size: 48px;
    font-family: var(--font-secondary-bold);
    line-height: 80%;
    margin-bottom: 50px;
}

.service-item{
    position: relative;
    text-align: center;
}

.service-item h2 a{
    text-decoration: none;
    color: var(--secondary-color);
}

.service-item:hover h2 a{
    color: var(--white-color);
}

.service-icon {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    z-index: 10;
    left: 50%;
    top: 50%;
    width: 350px; 
    height: 350px;
    transform: translate(-50%, -50%) scale(1.1);
}

.service-item:hover .service-icon {
    opacity: 1;
    visibility: visible;
}

/* ------------Service Area End------------- */





/* ------------About Area Start------------- */

.about-area{
    padding: 50px 0;
    width: 100%;
}

.about-area__top{
    width: 100%;
    height: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-between;
}

.robot-image{
    width: 375px;
    height: 370px;
}

.robot-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-descriptions{
    width: 690px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: auto;
}

.about-singal__description p{
    text-align: justify;
}

.about-singal__description--1{
    margin-top: 175px;
}

.about-area__bottom {
    width: 100%;
    margin-top: 165px;
}

.about-area__bottom .row{
    align-items: flex-end;
}

.the-great__text{
    color: var(--primary-color);
    font-size: 64px;
    font-family: var(--font-primary-bold);
    line-height: 80%;
}

.about-area__bottom h2{
    color: var(--primary-color);
    line-height: 50%;
}


/* ------------About Area End------------- */






/* ------------Testimonial Area Start------------- */

.testiomonial-area{
    padding: 50px 0;
    background-color: var(--primary-color);
}

.testiomonial-image{
    width: 335px;
    height: 365px;
    margin-left: auto;
}

.testiomonial-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testiomonial-right__bold-text {
    width: 450px;
    margin-left: auto;
    color: var(--white-color);
    font-size: 64px;
    font-family: var(--font-secondary-bold);
}

.testiomonial-bottom{
    margin-top: 185px;
}

.testiomonial-bottom__singal-text{
    display: flex;
    justify-content: space-between;
    height: 380px;
}

.testiomonial-bottom__singal-text span{
    color: var(--white-color);
    font-size: 24px;
    font-family: var(--font-secondary-bold);
}

.testiomonial-right__normal-text{
    color: var(--white-color);
    font-size: 40px;
    font-family: var(--medium);
}

/* ------------Testimonial Area End------------- */





/* ------------Brand Area Start------------- */

.brand-area{
    padding: 82px 0 70px 0;
    background-image: url(../image/brand-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.brand-area__content{
    text-align: center;
}

.brand-area__content h3{
    color: var(--white-color);
}

.message-text{
    display: flex;
    flex-direction: column;
    margin: 140px 0 170px;
}

.message-text span, .message-text a{
    color: var(--white-color);
    font-size: 36px;
    font-family: var(--font-secondary-regular);
    text-decoration: none;
    line-height: 80%;
}

.message-text a{
    position: relative;
    display: inline-block;
    width: fit-content;
    margin: auto;
    font-family: var(--font-secondary-bold);
}

.message-text a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 8px;
    background-color: var(--white-color);
}

/* ------------Brand Area End------------- */





/* ------------Social Area Start------------- */

.social-area{
    padding-top: 58px;
    background-color: var(--primary-color);
}

.social-area hr{
    width: 100%;
    height: 2px;
    background-color: var(--white-color) !important;
    border: none;
    opacity: 1;
    margin: 0;
    margin-top: 58px;
}

.social-links{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.social-links li a{
    color: var(--white-color);
    font-size: 36px;
    font-family: var(--font-secondary-bold);
    text-decoration: none;
    line-height: 80%;
}

.social-image{
    width: 216px;
    height: 245px;
    margin-left: auto;
}

.social-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------Social Area End------------- */






/* ------------Footer Area Start------------- */

.footer-area{
    padding: 224px 0 130px;
    background-color: var(--primary-color);
}

.forty-saven{
    width: 100%;
    height: 340px;
}

.forty-saven img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.copyright-area{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 46% 54%;
    align-items: center;
    justify-content: space-between;
}

.footer-link , .copyright-year, .back-to-top {
    color: var(--white-color);
    font-size: 36px;
    font-family: var(--font-secondary-bold);
    text-decoration: none;
    text-transform: uppercase;
}

/* ------------Footer Area End------------- */

